input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.filtersContainer {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 0 20px;
}
.filter {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter > div {
  padding-left: 15px;
  padding-top: 23px;
  padding-bottom: 25px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  gap: 10px;
}
.filter > i {
  color: #000;
  font-size: 18px;
  font-family: Arial;
  padding-left: 15px;
  padding-top: 23px;
  padding-bottom: 25px;
  padding-right: 15px;
}
.filter section {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  gap: 10px;
  flex-wrap: wrap;
}
.filter section div {
  width: 30%;
  cursor: pointer;
}

.filterOptionsIngredients {
  display: none; /* flex pour afficher & none pour cacher le contenu */
}
.filterOptionsDevices {
  display: none;
}
.filterOptionsUstensils {
  display: none;
}

.tagIngredient {
  background-color: #3282f7;
}

.tagAppliance {
  background-color: #68d9a4;
}

.tagUstensil {
  background-color: #ed6454;
}

.tagsContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.tagsContainer > div {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.filterTitleContainer {
  width: 100%;
}

.filterSearch {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}
.filterSearch::placeholder {
  color: white;
  opacity: 0.5;
}

.filterIngredients > div {
  background-color: #3282f7;
  cursor: pointer;
  width: 100%;
}
.filterIngredients > section {
  background-color: #3282f7;
}

.filterDevices > div {
  background-color: #68d9a4;
  cursor: pointer;
}
.filterDevices section {
  background-color: #68d9a4;
}

.filterUstensils > div {
  background-color: #ed6454;
  cursor: pointer;
}
.filterUstensils section {
  background-color: #ed6454;
}

.tag-close {
  margin-left: 10px;
  cursor: pointer;
}
